In [1]:
# Import libraries
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# Import dataset
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
# Apply one-hot encoder
insurance_one_hot = pd.get_dummies(insurance)
insurance_one_hot.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [9]:
# Create feature dataset, X
X = insurance_one_hot.drop("charges", axis=1)
X

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0,1,1,0,0,1,0,0
1334,18,31.920,0,1,0,1,0,1,0,0,0
1335,18,36.850,0,1,0,1,0,0,0,1,0
1336,21,25.800,0,1,0,1,0,0,0,0,1
1337,61,29.070,0,1,0,0,1,0,1,0,0

In [10]:
# Create label dataset, y
y = insurance_one_hot["charges"]
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [11]:
# Create training and testing subsets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
len(X), len(X_train), len(X_test)

(1338, 1070, 268)

In [12]:
# Create NN model
tf.random.set_seed(42)
insurance_model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
])

In [13]:
# Compile the model
insurance_model.compile(
    loss=tf.keras.losses.mae,
    optimizer=tf.keras.optimizers.SGD(),
    metrics=["mae"]
)

In [14]:
# Fit the model
insurance_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 2ms/step - loss: 8726.5264 - mae: 8726.5264
Epoch 2/100
34/34 [==============================] - 0s 3ms/step - loss: 7885.8076 - mae: 7885.8076
Epoch 3/100
34/34 [==============================] - 0s 2ms/step - loss: 7586.8369 - mae: 7586.8369
Epoch 4/100
34/34 [==============================] - 0s 2ms/step - loss: 7822.9502 - mae: 7822.9502
Epoch 5/100
34/34 [==============================] - 0s 2ms/step - loss: 7696.8389 - mae: 7696.8389
Epoch 6/100
34/34 [==============================] - 0s 2ms/step - loss: 7647.3057 - mae: 7647.3057
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 7657.7764 - mae: 7657.7764
Epoch 8/100
34/34 [==============================] - 0s 2ms/step - loss: 7753.7568 - mae: 7753.7568
Epoch 9/100
34/34 [==============================] - 0s 2ms/step - loss: 7422.1797 - mae: 7422.1797
Epoch 10/100
34/34 [==============================] - 0s 2ms/step - loss: 7712.1470 - mae: 7712.1470
Epoch 11/100
34/34 [==============================] - 0s 2ms/step - loss: 7576.4292 - mae: 7576.4292
Epoch 12/100
34/34 [==============================] - 0s 2ms/step - loss: 7544.4937 - mae: 7544.4937
Epoch 13/100
34/34 [==============================] - 0s 2ms/step - loss: 7664.7349 - mae: 7664.7349
Epoch 14/100
34/34 [==============================] - 0s 2ms/step - loss: 7665.7656 - mae: 7665.7656
Epoch 15/100
34/34 [==============================] - 0s 2ms/step - loss: 7517.0884 - mae: 7517.0884
Epoch 16/100
34/34 [==============================] - 0s 2ms/step - loss: 7772.0820 - mae: 7772.0820
Epoch 17/100
34/34 [==============================] - 0s 2ms/step - loss: 7586.0996 - mae: 7586.0996
Epoch 18/100
34/34 [==============================] - 0s 2ms/step - loss: 7747.0464 - mae: 7747.0464
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 7760.5293 - mae: 7760.5293
Epoch 20/100
34/34 [==============================] - 0s 2ms/step - loss: 7861.7793 - mae: 7861.7793
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 7484.7661 - mae: 7484.7661
Epoch 22/100
34/34 [==============================] - 0s 2ms/step - loss: 7920.1187 - mae: 7920.1187
Epoch 23/100
34/34 [==============================] - 0s 2ms/step - loss: 7728.4414 - mae: 7728.4414
Epoch 24/100
34/34 [==============================] - 0s 2ms/step - loss: 7520.7153 - mae: 7520.7153
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 7645.7183 - mae: 7645.7183
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 7644.8418 - mae: 7644.8418
Epoch 27/100
34/34 [==============================] - 0s 2ms/step - loss: 7673.0952 - mae: 7673.0952
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 7393.6987 - mae: 7393.6987
Epoch 29/100
34/34 [==============================] - 0s 2ms/step - loss: 7611.9263 - mae: 7611.9263
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 7689.3486 - mae: 7689.3486
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 7665.9272 - mae: 7665.9272
Epoch 32/100
34/34 [==============================] - 0s 2ms/step - loss: 7461.1333 - mae: 7461.1333
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 7551.4668 - mae: 7551.4668
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 7455.3696 - mae: 7455.3696
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 7551.9478 - mae: 7551.9478
Epoch 36/100
34/34 [==============================] - 0s 2ms/step - loss: 7566.7012 - mae: 7566.7012
Epoch 37/100
34/34 [==============================] - 0s 3ms/step - loss: 7674.2402 - mae: 7674.2402
Epoch 38/100
34/34 [==============================] - 0s 3ms/step - loss: 7363.0479 - mae: 7363.0479
Epoch 39/100
34/34 [==============================] - 0s 3ms/step - loss: 7518.0542 - mae: 7518.0542
Epoch 40/100
34/34 [==============================] - 0s 3ms/step - loss: 7431.4043 - mae: 7431.4043
Epoch 41/100
34/34 [==============================] - 0s 3ms/step - loss: 7675.3052 - mae: 7675.3052
Epoch 42/100
34/34 [==============================] - 0s 3ms/step - loss: 7843.2085 - mae: 7843.2085
Epoch 43/100
34/34 [==============================] - 0s 4ms/step - loss: 7724.9937 - mae: 7724.9937
Epoch 44/100
34/34 [==============================] - 0s 3ms/step - loss: 7502.6597 - mae: 7502.6597
Epoch 45/100
34/34 [==============================] - 0s 3ms/step - loss: 7489.3198 - mae: 7489.3198
Epoch 46/100
34/34 [==============================] - 0s 3ms/step - loss: 7417.2446 - mae: 7417.2446
Epoch 47/100
34/34 [==============================] - 0s 2ms/step - loss: 7475.4927 - mae: 7475.4927
Epoch 48/100
34/34 [==============================] - 0s 2ms/step - loss: 7562.4756 - mae: 7562.4756
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 7549.6670 - mae: 7549.6670
Epoch 50/100
34/34 [==============================] - 0s 3ms/step - loss: 7537.7300 - mae: 7537.7300
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 7408.5586 - mae: 7408.5586
Epoch 52/100
34/34 [==============================] - 0s 2ms/step - loss: 7576.7402 - mae: 7576.7402
Epoch 53/100
34/34 [==============================] - 0s 2ms/step - loss: 7578.9575 - mae: 7578.9575
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 7323.0605 - mae: 7323.0605
Epoch 55/100
34/34 [==============================] - 0s 2ms/step - loss: 7399.3755 - mae: 7399.3755
Epoch 56/100
34/34 [==============================] - 0s 2ms/step - loss: 7230.9058 - mae: 7230.9058
Epoch 57/100
34/34 [==============================] - 0s 2ms/step - loss: 7469.2373 - mae: 7469.2373
Epoch 58/100
34/34 [==============================] - 0s 2ms/step - loss: 7527.6382 - mae: 7527.6382
Epoch 59/100
34/34 [==============================] - 0s 2ms/step - loss: 7692.6201 - mae: 7692.6201
Epoch 60/100
34/34 [==============================] - 0s 2ms/step - loss: 7327.5601 - mae: 7327.5601
Epoch 61/100
34/34 [==============================] - 0s 2ms/step - loss: 7427.8511 - mae: 7427.8511
Epoch 62/100
34/34 [==============================] - 0s 2ms/step - loss: 7243.8081 - mae: 7243.8081
Epoch 63/100
34/34 [==============================] - 0s 2ms/step - loss: 7336.8130 - mae: 7336.8130
Epoch 64/100
34/34 [==============================] - 0s 2ms/step - loss: 7256.7119 - mae: 7256.7119
Epoch 65/100
34/34 [==============================] - 0s 2ms/step - loss: 7512.4819 - mae: 7512.4819
Epoch 66/100
34/34 [==============================] - 0s 2ms/step - loss: 7510.6841 - mae: 7510.6841
Epoch 67/100
34/34 [==============================] - 0s 2ms/step - loss: 7279.6001 - mae: 7279.6001
Epoch 68/100
34/34 [==============================] - 0s 2ms/step - loss: 7462.0239 - mae: 7462.0239
Epoch 69/100
34/34 [==============================] - 0s 2ms/step - loss: 7490.1978 - mae: 7490.1978
Epoch 70/100
34/34 [==============================] - 0s 2ms/step - loss: 7701.9258 - mae: 7701.9258
Epoch 71/100
34/34 [==============================] - 0s 2ms/step - loss: 7317.5752 - mae: 7317.5752
Epoch 72/100
34/34 [==============================] - 0s 2ms/step - loss: 7262.6743 - mae: 7262.6743
Epoch 73/100
34/34 [==============================] - 0s 2ms/step - loss: 7386.9985 - mae: 7386.9985
Epoch 74/100
34/34 [==============================] - 0s 2ms/step - loss: 7501.6377 - mae: 7501.6377
Epoch 75/100
34/34 [==============================] - 0s 2ms/step - loss: 7299.9141 - mae: 7299.9141
Epoch 76/100
34/34 [==============================] - 0s 2ms/step - loss: 7125.4043 - mae: 7125.4043
Epoch 77/100
34/34 [==============================] - 0s 2ms/step - loss: 7341.0972 - mae: 7341.0972
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 7365.5566 - mae: 7365.5566
Epoch 79/100
34/34 [==============================] - 0s 3ms/step - loss: 7526.4556 - mae: 7526.4556
Epoch 80/100
34/34 [==============================] - 0s 4ms/step - loss: 7252.9312 - mae: 7252.9312
Epoch 81/100
34/34 [==============================] - 0s 3ms/step - loss: 7303.5493 - mae: 7303.5493
Epoch 82/100
34/34 [==============================] - 0s 4ms/step - loss: 7159.3413 - mae: 7159.3413
Epoch 83/100
34/34 [==============================] - 0s 3ms/step - loss: 7450.4209 - mae: 7450.4209
Epoch 84/100
34/34 [==============================] - 0s 2ms/step - loss: 7197.2979 - mae: 7197.2979
Epoch 85/100
34/34 [==============================] - 0s 2ms/step - loss: 7639.9688 - mae: 7639.9688
Epoch 86/100
34/34 [==============================] - 0s 2ms/step - loss: 7402.2515 - mae: 7402.2515
Epoch 87/100
34/34 [==============================] - 0s 2ms/step - loss: 7166.0620 - mae: 7166.0620
Epoch 88/100
34/34 [==============================] - 0s 3ms/step - loss: 7240.8242 - mae: 7240.8242
Epoch 89/100
34/34 [==============================] - 0s 3ms/step - loss: 7384.8198 - mae: 7384.8198
Epoch 90/100
34/34 [==============================] - 0s 2ms/step - loss: 7025.0591 - mae: 7025.0591
Epoch 91/100
34/34 [==============================] - 0s 2ms/step - loss: 7307.8740 - mae: 7307.8740
Epoch 92/100
34/34 [==============================] - 0s 2ms/step - loss: 7452.2515 - mae: 7452.2515
Epoch 93/100
34/34 [==============================] - 0s 2ms/step - loss: 7409.7822 - mae: 7409.7822
Epoch 94/100
34/34 [==============================] - 0s 2ms/step - loss: 7198.6768 - mae: 7198.6768
Epoch 95/100
34/34 [==============================] - 0s 2ms/step - loss: 7526.3740 - mae: 7526.3740
Epoch 96/100
34/34 [==============================] - 0s 2ms/step - loss: 7333.0093 - mae: 7333.0093
Epoch 97/100
34/34 [==============================] - 0s 2ms/step - loss: 7232.7202 - mae: 7232.7202
Epoch 98/100
34/34 [==============================] - 0s 2ms/step - loss: 7343.8853 - mae: 7343.8853
Epoch 99/100
34/34 [==============================] - 0s 2ms/step - loss: 7256.2861 - mae: 7256.2861
Epoch 100/100
34/34 [==============================] - 0s 2ms/step - loss: 7218.5752 - mae: 7218.5752

In [15]:
# Check the results
insurance_model.evaluate(X_test, y_test)

9/9 [==============================] - 0s 2ms/step - loss: 6983.7734 - mae: 6983.7734

[6983.7734375, 6983.7734375]